.venv
__pycache__
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.git
.gitignore

data
reports
notebooks

.env
.env.example

*.joblib

models/*.cbm
models/*.json
!models/catboost_credit_scoring.cbm
!models/catboost_artifacts.json