POSTGRES_DB=credit_scoring
POSTGRES_USER=credit_user
POSTGRES_PASSWORD=credit_pass
DATABASE_URL=postgresql+psycopg2://credit_user:credit_pass@db:5432/credit_scoring
MODEL_PATH=/app/models/catboost_credit_scoring.cbm
ARTIFACTS_PATH=/app/models/catboost_artifacts.json
APP_HOST=0.0.0.0
APP_PORT=8000